header .logo {
  width: 200px;
}

body {
  background-color: rgb(24, 23, 23);
}

header nav ul li a {
  color: white;
  text-decoration: none;
  border-bottom: none red;
  transition: 0.3s ease all;
}

header nav ul li a:hover {
  text-decoration: none;
  border-bottom: 4px solid red;
}

.title {
  margin-top: 270px;
}

.film-img .hover {
  opacity: 0;
  transition: 0.2s ease-in;
  background-color: black;
  color: white;
  min-height: 700px;
}
.film-img:hover .hover {
  opacity: 0.9;
}

.tv-img .hover {
  opacity: 0;
  transition: 0.2s ease-in;
  background-color: black;
  color: white;
  min-height: 265px;
}

.tv-img:hover .hover {
  opacity: 0.9;
}

.padre:hover {
  overflow: auto;
}
